@model IEnumerable<OnlineCourse.Models.MS_Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div style="float:left;">
    @Html.ActionLink("Create New", "Create")
</div>
<div style="float:right; margin:-8px 0 0 0 ; ">
  
    <input type="submit" value="Search" class="btn btn-default" style="margin-bottom:3px;" />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th>CourseImages</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                <img src="~/CourseContent/CourseImages/@Html.DisplayFor(modelItem => item.CourseImage)" style="height:50px;" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>
    }

</table>

