@model OnlineCourse.Models.STU_Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebPageLayout.cshtml";
}

<h2>Index</h2>

    <div class="modal fade" id="myModalreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        @using (Html.BeginForm("Home", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="padding:30px 50px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">RegistryForm</h4>
                        <p class="para">Already Joined?<a class="reg" href="#">LogIn</a></p>
                    </div>
                    <div class="modal-body" style="padding:30px 50px;">
                        <form>
                            <div class="form-group">

                                <label for="username">FirstName:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your middlename">
                            </div>
                            <div class="form-group">

                                <label for="username">MiddleName:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your middlename">
                            </div>
                            <div class="form-group">

                                <label for="username">LastName:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your lastname">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter your Password">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter ypur email">
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FacultyID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("FacultyID", String.Empty)
                                    @Html.ValidationMessageFor(model => model.FacultyID)


                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BatchID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("BatchID", String.Empty)
                                    @Html.ValidationMessageFor(model => model.BatchID)


                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SemesterID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("SemesterID", String.Empty)
                                    @Html.ValidationMessageFor(model => model.SemesterID)


                                </div>
                            </div>
                            <!--<div class="checkbox">
                              <label><input type="checkbox"> Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>-->
                        </form>

                    </div>
                    <div class="modal-footer">

                        <input type="Submit" value="Register" class="btn btn-primary btn-block"/>
                    </div>
                </div>
            </div>
        }
    </div>





