@model OnlineCourse.Models.COU_CourseContent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "COU_CourseContent", FormMethod.Post, new { enctype = "Multipart/Form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>COU_CourseContent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CourseContentID)
       
        <div class="form-group">
            @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Video)
                <input type="file" id="att1" name="file1" value="choose file" />
                @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tutorials, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/CourseContent/file/" height="80" /><br />
                @Html.HiddenFor(model => model.Tutorials)
                <input type="file" id="att2" name="file2" value="choose file" />
                @*<input type="button" id="clear" value="Remove" onclick="clearfile2();" style="margin:5px 0 0 0;" />*@
                @Html.ValidationMessageFor(model => model.Tutorials, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           CourseName
            <div class="col-md-10">
                @Html.DropDownList("CourseID", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseID)
            </div>
        </div>

        <div class="form-group">
           UserName
            <div class="col-md-10">
                @Html.DropDownList("UserID", String.Empty)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
