@model OnlineCourse.Models.SC_User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="login" style="background-color:#fff">
    <div style="padding:5px;">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             
                        <div style="border: 1px solid #eeeeee; border-radius: 5px 5px 0 0; background-color:#428bca; margin-bottom:10px;">
                            <h4 style="text-align:center; color:#fff  ">Log in</h4>
                        </div>
                        <div>@ViewData["Error"]</div>
                        <div class="form-group">
                            @Html.LabelFor(u => u.Username, new { @class = "col-md-3 control-label label_padding" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(u => u.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Username, "", new { @class = "text-danger" })
                            </div>
                        </div><br /><br />
                        <div class="form-group">
                            @Html.LabelFor(u => u.Password, new { @class = "col-md-3 control-label label_padding" })
                            <div class="col-md-8">
                                @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 control-label label_padding">Role</div>
                            <div class="col-md-8">
                                @Html.DropDownList("UserTypeID", String.Empty)
                                @Html.ValidationMessageFor(model => model.UserTypeID)
                             </div>
                        </div>
                        


                        <div style="clear:both"></div>
                        <div class="form-group" style="padding:10px 0 0 0;">
                            <div class="col-md-offset-3 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                 

                 
                <div style="clear:both"></div>
                <br />
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>



