@model OnlineCourse.Models.EXM_ExamHistoryDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EXM_ExamHistoryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamHistoryDetailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamHistoryDetailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamHistoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamHistoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attempted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attempted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamHistoryDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
