@model IEnumerable<OnlineCourse.Models.DIS_DiscussionForumComment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscussionForumID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscussionForumID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CommentID }) |
            @Html.ActionLink("Details", "Details", new {  id=item.CommentID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.CommentID })
        </td>
    </tr>
}

</table>
