@model OnlineCourse.Models.MS_Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MS_Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacultyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.FacultyID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
