@model OnlineCourse.Models.QUIZ_QuizSubmit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QUIZ_QuizSubmit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuizSubmitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizSubmitID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
