@model IEnumerable<OnlineCourse.Models.ASS_AssignmentSubmit>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            SubmitAssignmentID
        </th>
        <th>
            SubmissionDate
        </th>
        <th>
            Answer
        </th>
        <th>
           Point
        </th>
        <th>
           Remarks
        </th>
        <th>
            Assignment
        </th>
        <th>
           StudentID
        </th>
        <th>Student</th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitAssignmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignmentPost.Questions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Student.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubmitAssignmentID}) |
            @Html.ActionLink("Details", "Details", new {  id=item.SubmitAssignmentID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.SubmitAssignmentID})
        </td>
    </tr>
}

</table>
